@model AS_lab1_gr2.Models.Student

<h1>@Model.FirstName @Model.LastName</h1>

<p>Index: @Model.Index</p>
<p>Data Urodzenia: @Model.BirthDay.ToShortDateString()</p>
<p>Kierunek: @Model.FieldOfStudy</p>
<p>Id: @Model.Id</p>